/* =========
GENERAL
============*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family: 'Segoe UI', sans-serif;

    background: #f4f7fb;

    overflow-x: hidden;
}

/* =========================
TOP BAR
========================= */

/*General*/
.top-bar {

    position: sticky;

    top: 0;

    z-index: 1000;

    display: flex;

    justify-content: space-between;

    align-items: center;

    background: linear-gradient(
        90deg,
        #24609e
    );

    padding: 12px 25px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/*Hamburguesa*/
.menu-toggle {

    display: none;

    position: fixed;

    top: 15px;
    left: 15px;

    z-index: 2000;

    border: none;

    background: #24609e;
    
    color: #eaebed;

    padding: 10px 14px;

    border-radius: 10px;

    font-size: 1.2rem;

    cursor: pointer;
}

/* Logo */

.logo {

    height: 50px;

    object-fit: contain;
}

/* Login */

.login-btn {

    background: linear-gradient(
        90deg,
        #eee1bb
    );

    color: #24609e;

    text-decoration: none;

    padding: 10px 18px;

    border-radius: 12px;

    font-weight: bold;

    transition: 0.3s;
}

.login-btn:hover {

    color: rgb(255, 28, 28);

    transform: translateY(-2px);
}

/* ========
   MENÚ
=========== */

.menu {

    position: fixed;

    top: 0;
    left: 0;

    width: 75px;

    min-height: 100vh;

    background: linear-gradient(
        180deg,
        #82b1e1
    );

    overflow-x: hidden;

    transition: 0.4s ease;

    z-index: 999;

    box-shadow: 4px 0 20px rgba(0,0,0,0.2);
}

/* Expandir */

.menu:hover {

    width: 280px;
}

/* Lista */

.menu ul {

    list-style: none;

    padding-top: 100px;
}

/* LINKS */

.menu a {

    display: flex;

    align-items: center;

    gap: 18px;

    color: #24609e;

    text-decoration: none;

    padding: 20px 24px;

    margin: 1px;

    border-radius: 14px;

    transition: 0.3s;

    white-space: nowrap;
}

/* ===============
   CONTENEDOR
==================*/

.container-main {

    display: flex;
}

/* =========================
   CONTENIDO
========================= */

.contenido {

    margin-left: 90px;

    width: 100%;

    padding: 40px;
}

/* ========
     Hero
============ */

.carousel-section {
    padding: 5px;
    background-color: #f4f7fb;
    border-radius: 4%;
    margin-bottom: 20px;
}

.carousel-inner {
    border-radius: 20px;
    overflow: hidden;
}

/* Imagenes */

.carousel-img {
    width: 100%;
    height: 70vh;
    min-height: 415px;
    max-height: 250px;
    object-fit: cover;
}

/*Overaly*/

.carousel-item {
    position:relative
}

.carousel-item::before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Caption */

.carousel-caption {
    bottom: 20%;
    padding: 10px;
    z-index: 2;
}

.carousel-caption h2 {
    font-size: clamp(1.5rem, 4vw, 3.5rem);
    font-weight: 800;

    color: white;

    text-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.carousel-caption p {
    font-size: clamp(0.9rem, 2vw, 1.2rem);

    color: #f1f1f1;

    max-width: 410px;

    margin: auto;

    line-height: 1.5;
}

/* Botones */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(255,255,255,0.2);

    border-radius: 50%;

    padding: 18px;
}

/* Indicadores */

.carousel-indicators button {
    width: 12px;
    height: 12px;

    border-radius: 50%;
}

.menu a:hover,
.menu a.active {

    background: rgba(229, 231, 232, 0.12);

    transform: translateX(5px);
}

.menu i {

    font-size: 1.2rem;

    min-width: 30px;
}

/* =============
   Tarjetas 
============= */

.cards {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 20px;

    margin-bottom: 40px;
}

.tarjeta {

    background: white;

    padding: 25px;

    border-radius: 19px;

    box-shadow: 0 4px 15px rgba(0,0,0,0.08);

    transition: 0.3s;
}

.tarjeta:hover {

    transform: translateY(-5px);
}

.tarjeta i {

    font-size: 2rem;

    color: #24609e;

    margin-bottom: 15px;
}

/* SECCIONES */

.seccion h2 {

    margin-bottom: 20px;

    color: #042c5a;
}

/* FOOTER */

footer {

    background: #002147;

    color: white;

    text-align: center;

    padding: 20px;

    margin-top: 40px;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 768px) {

    /* BOTÓN */

    .menu-toggle {

        display: block;
    }

    /* MENÚ */

    .menu {

        transform: translateX(-100%);

        width: 260px;
    }

    .menu.show {

        transform: translateX(0);
    }

    .menu:hover {

        width: 260px;
    }

    /* CONTENIDO */

    .contenido {

        margin-left: 0;

        padding: 20px;
    }

    /* TOP BAR */

    .top-bar {

        padding-left: 70px;
    }

    /* HERO */

    .hero {

        padding: 50px 20px;
    }

    .hero h1 {

        font-size: 2rem;
    }

    .hero p {

        font-size: 1rem;
    }

    /* LOGO */

    .logo {

        height: 45px;
    }
}
