
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family: 'Segoe UI', sans-serif;

    background: #f4f7fb;

    overflow-x: hidden;
}

/* =========================
TOP BAR
========================= */

/*General*/
.top-bar {

    position: sticky;

    top: 0;

    z-index: 1000;

    display: flex;

    justify-content: space-between;

    align-items: center;

    background: linear-gradient(
        90deg,
        #24609e
    );

    padding: 12px 25px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/*Hamburguesa*/
.menu-toggle {

    display: none;

    position: fixed;

    top: 15px;
    left: 15px;

    z-index: 2000;

    border: none;

    background: #24609e;
    
    color: #eaebed;

    padding: 10px 14px;

    border-radius: 10px;

    font-size: 1.2rem;

    cursor: pointer;
}

/* Logo */

.logo {

    height: 50px;

    object-fit: contain;
}

/* Login */

.login-btn {

    background: linear-gradient(
        90deg,
        #eee1bb
    );

    color: #24609e;

    text-decoration: none;

    padding: 10px 18px;

    border-radius: 12px;

    font-weight: bold;

    transition: 0.3s;
}

.login-btn:hover {

    color: rgb(255, 28, 28);

    transform: translateY(-2px);
}

/* ========
   MENÚ
=========== */

.menu {

    position: fixed;

    top: 0;
    left: 0;

    width: 75px;

    min-height: 100vh;

    background: linear-gradient(
        180deg,
        #82b1e1
    );

    overflow-x: hidden;

    transition: 0.4s ease;

    z-index: 999;

    box-shadow: 4px 0 20px rgba(0,0,0,0.2);
}

/* Expandir */

.menu:hover {

    width: 280px;
}

/* Lista */

.menu ul {

    list-style: none;

    padding-top: 100px;
}

/* LINKS */

.menu a {

    display: flex;

    align-items: center;

    gap: 18px;

    color: #24609e;

    text-decoration: none;

    padding: 20px 24px;

    margin: 1px;

    border-radius: 14px;

    transition: 0.3s;

    white-space: nowrap;
}
