<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZOE — Organización Académica IB</title>
  <link rel="stylesheet" href="static/styles/pagina/layout.css">
  {% block extra_css %}
  {% endblock %}
</head>
<body>
  <!-- Navbar -->
  <header class="navbar">
    <div class="logo">
      <span class="menu-icon">☰</span>
      <h2>ZOE</h2>
    </div>
    <nav class="nav-links">
      <a href="/">¿Qué es ZOE?</a>
      <a href="/programa-pop">Programa POP</a>
      <a href="/Estructura">Estructura</a>
    </nav>
    <button class="login-btn" ><a href="/login">Login</a></button>
  </header>

  <!-- Contenido dinámico -->
  <main class="content">
    {% block content %}
    <!-- Contenido específico de cada página -->
    {% endblock %}
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-left">
        <h3>ZOE</h3>
        <p>Organización Académica del Bachillerato Internacional</p>
      </div>
      <div class="footer-links">
        <a href="/">Inicio</a>
        <a href="/programa-pop">Programa POP</a>
        <a href="/estructura">Estructura</a>
        <a href="/contacto">Contacto</a>
      </div>
      <div class="footer-right">
        <p>© 2026 ZOE — Todos los derechos reservados</p>
      </div>
    </div>
  </footer>
</body>
</html>
